
.color0 {
    color: #FFFFFF
  }
  .color10 {
    color: #F6F6F6
  }
  .color50 {
    color: #F0F0F0
  }
  .color100 {
    color: #E0E0E0
  }
  .color200 {
    color: #C2C2C2
  }
  .color300 {
    color: #A3A3A3
  }
  .color400 {
    color: #858585
  }
  .color500 {
    color: #666666
  }
  .color600 {
    color: #4D4D4D
  }
  .color700 {
    color: #333333
  }
  .color800 {
    color: #1A1A1A
  }
  .color900 {
    color: #0A0A0A
  }
  .color1000 {
    color: #000000
  }


  .color50 {
    color: #E6FBFF
  }
  .color100 {
    color: #CCF7FE
  }
  .color200 {
    color: #99EEFD
  }
  .color300 {
    color: #66E6FC
  }
  .color400 {
    color: #33DDFB
  }
  .color500 {
    color: #00D5FA
  }
  .color600 {
    color: #00A0BC
  }
  .color700 {
    color: #006B7D
  }
  .color800 {
    color: #00353F
  }
  .color900 {
    color: #001519
  }