.CompTextEditor {
  /* Basic editor styles */
  .ProseMirror {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    min-height: 100px;
    > * + * {
      margin-top: 0.75em;
    }
  
    ul,
    ol {
      padding: 0 1rem;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
    }
  
    code {
      background-color: rgba(#616161, 0.1);
      color: #616161;
    }
  
    pre {
      background: #0D0D0D;
      color: #FFF;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
  
      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    blockquote {
      padding-left: 1rem;
      border-left: 2px solid rgba(#0D0D0D, 0.1);
    }
  
    hr {
      border: none;
      border-top: 2px solid rgba(#0D0D0D, 0.1);
      margin: 2rem 0;
    }
    .text-editor{
      border: 1px solid grey;
      border-radius: 5px;
    }
  }
    

}
.ProseMirror{
    padding: 10px;
    /* border-top: 1px solid grey; */
    /* border-radius: 5px; */
    min-height: 100px;
    max-width: 700px;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0D0D0D;
  color: #FFF;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.text-editor{
  border: 1px solid grey;
  border-radius: 5px;
  max-width: 700px;
}
.editor-menu-bar{
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.editor-menu-bar button{
  font-size: 18px;
  margin: 7px;
  margin-right: 15px;
  background: none;
  color: rgb(70,70,70);
  cursor: pointer;
}
.editor-menu-bar button.is-active{
  background: #ffc107;
  border-radius: 2px;
}


@media (max-width: 768px) {
  .editor-menu-bar button {
    font-size: 12px;
    margin: 0px;
    margin-right: 4px;
  }
}
@media (max-width: 468px) {
  .editor-menu-bar button {
    margin-right: 0;
  }
}